{% extends 'app.twig' %}

{% block content %}
    <h1>{{trans('messages.add_skill')}}</h1>
    {{  form_model(skill, {'route': 'skills.store'})|raw }}

    {{ include('PeerReview/Skills/form.twig') }}

{% endblock %}