{% extends 'app.twig' %}

{% block content %}
    <h1>{{trans('messages.edit_developer')}}</h1>
    {{  form_model(developer, {'method' : 'PUT', 'route': ['developers.update', developer.id]})|raw  }}

    {{ include('PeerReview/Developers/form.twig') }}

{% endblock %}